* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  text-decoration: none;
  border-style: none;
  list-style: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url(../fonts/OpenSans-Bold.woff);
  src: url(../fonts/OpenSans-Bold.ttf);
  src: url(../fonts/OpenSans-Bold.woff2);
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Regular.ttf);
  src: url(../fonts/OpenSans-Regular.woff);
  src: url(../fonts/OpenSans-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

body {
  min-width: 320px;
}

.header {
  background-image: url("../images/football_767.jpg");
}

.header, .footer {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  color: #ffffff;
  text-align: center;
}

.header::after {
  content: "";
  background-color: #0a0e34;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
}

.header-container, .footer-container {
  position: relative;
  z-index: 2;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 33px;
}

.logo-text {
  display: inline-block;
  width: 40%;
  text-align: center;
  vertical-align: middle;
}

.header-logo-box {}

.header-logo {
  fill: #ffffff;
}

.header-title, .header-subtitle {
  font-family: OpenSans-Bold;
  font-size: 28px;
  line-height: 31px;
  text-transform: uppercase;
  text-align: left;
}

.header-title {
  margin-top: 30vmin;
}

.header-subtitle {
  display: block;
  padding-left: 44px;
  padding-top: 9vw;
  white-space: pre-wrap;
}

.download-links {
  display: flex;
  flex-wrap: wrap;
}

.download-links-header {
  margin-top: 28vw;
}

.download-link-box {
  display: flex;
  background-color: #5e42b0;
  width: 100%;
  border-radius: 9vw;
  padding-top: 5px;
  padding-bottom: 6px;
  padding-left: 30%;
}

.download-link-box:nth-child(n+2) {
  margin-top: 14px;
}

.download-link {
  display: flex;
  box-sizing: border-box;
  align-items: center;
}

.link-logo {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}

.link-text {
  display: inline-block;
  margin-left: 3vw;
  text-align: left;
}

.link-text-subtitle, .link-text-title {
  font-size: 50%;
  text-transform: uppercase;
  color: #ffffff;
}

.link-text-title {
  font-family: OpenSans
}

.link-text-subtitle {
  font-family: OpenSans-Bold;
}

main {}

.content {}

.content-directions {}

.direction-athlets {
  position: relative;
}

.content-directions-subject {
  font-family: OpenSans-bold;
  text-transform: uppercase;
  font-size: 16vw;
  color: #e7e7e7;
  margin-bottom: 72.2vw;
  padding-left: 6%;
}

.content-direction-img {
  position: absolute;
  width: 60vw;
  display: block;
  top: 23vw;
  left: 22vw;
  z-index: 3;
}

.content-directions-athlets {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}

.content-direction {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  padding-top: 18vw;
  padding-bottom: 18.7vw;
  padding-left: 6%;
  padding-right: 6%;
}

.content-directions-title {
  display: flex;
  margin-bottom: 5vw;
}

.content-direction:nth-child(1) {
  background-color: #fafafa;
}

.content-direction:nth-child(2) {
  background-color: #f5f4f9;
}

.content-direction:nth-child(3) {
  background-color: #5e42b0;
}

.content-directions-athlets .content-direction:nth-child(3) .content-direction-desc {
  color: #ffffff;
}

.content-directions-players .content-direction:nth-child(3) {
  background-color: #090c35;
}

.content-directions-players .content-direction:nth-child(3) .content-direction-desc {
  color: #ffffff;
}

.content-directions-players .content-direction:nth-child(3) .content-direction-number {
  color: #8765dd;
}

.content-direction-number {
  font-family: OpenSans-bold;
  font-size: 4.3vw;
  color: #000000;
  align-self: flex-start;
  margin-top: 1.25vw;
  position: relative;
}

.content-direction-number::after {
  content: "";
  position: absolute;
  background-color: #5e42b0;
  width: 4.6vw;
  height: 4px;
  left: 0;
  top: 100%;
}

.content-direction:nth-child(3n+3) .content-direction-number::after {
  background-color: #ffffff;
}

.content-direction-title {
  vertical-align: top;
  font-family: OpenSans-Bold;
  font-size: 7.2vw;
  color: #c1c1c1;
  text-transform: uppercase;
  margin-left: 10px;
}

.content-direction-desc {
  font-family: OpenSans;
  font-size: 4.3vw;
  color: #000000;
}

.direction-players {
  position: relative;
}

.direction-players .content-direction-img {
  width: 94vw;
  top: 23vw;
  left: 4vw;
}

.content-cards {}

.content-cards-box {
  display: flex;
  flex-wrap: wrap;
}

.content-card-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%
}

.content-card-box .content-card:nth-child(2) {
  padding-top: 10vw;
  padding-bottom: 18.7vw;
}

.content-card {
  width: 100%;
  font-family: OpenSans-Bold;
  position: relative;
}

.content-card-pic {}

.content-card-img {
  width: 100%;
}

.content-card-title,
.content-card-number,
.content-card-text {
  padding-left: 6%;
  padding-right: 6%;
}

.content-card-title {
  margin-bottom: 6.5vw;
  font-family: OpenSans-Bold;
  font-size: 175%;
  color: #e7e7e7;
  text-transform: uppercase;
}

.content-card-number {
  position: absolute;
  width: 22vw;
  height: 22vw;
  background-color: #5e42b0;
  box-sizing: border-box;
  text-align: center;
  color: #ffffff;
  font-size: 87.5%;
  padding-top: 8vw;
  z-index: 3;
  left: 6%;
  top: -19vw;
}

.content-card-number::after {
  content: "";
  position: absolute;
  background-color: #8f7bc8;
  width: 18px;
  height: 4px;
  left: calc(50% - 2.7vw);
  top: 14vw;
}

.content-card-text {
  font-family: OpenSans;
  font-size: 87.5%;
}

.footer {
  background-image: url("../images/game_767.jpg");
}

.footer-container {
  padding-top: 29vw;
  padding-bottom: 10px;
}

.footer::after {
  content: "";
  background-color: #0a0e34;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
}

.footer-title {}

.title-logo-box {
  display: inline-block;
  width: 22vw;
  height: 22vw;
  text-align: center;
  background-color: #5e42b0;
  border-radius: 6vw;
  padding: 3%;
}

.footer-title-logo {
  fill: #ffffff;
}

.title-text {
  margin-top: 18vw;
  padding: 0;
}

.footer-text-title {
  font-family: OpenSans-Bold;
  color: #ffffff;
  font-size: 10.5vw;
  text-transform: uppercase;
}

.footer-text-subtitle {
  display: block;
  font-family: OpenSans;
  color: #9b8ec1;
  font-size: 4.5vw;
  text-transform: uppercase;
}

.download-links-footer {
  margin-top: 24vw;
}

.footer-logo-box {
  margin-top: 8vh;
}

.footer-logo {
  fill: #ffffff;
}

@media (min-width:641px) and (max-width:960px) {
  .header {
    background-image: url("../images/football_1280.jpg");
  }

  .header-logo-box, .footer-logo-box {
    width: 27%;
  }

  .header-title, .header-subtitle {
    font-family: OpenSans-Bold;
    font-size: 64px;
    line-height: 80px;
    text-transform: uppercase;
    text-align: left;
  }

  .header-title {
    margin-top: 25vmin;
    padding-left: 6.5vw;
  }

  .header-subtitle {
    display: block;
    padding-left: 19vw;
    padding-top: 0;
  }

  .download-links {
    justify-content: space-around;
    padding-left: 2%;
    padding-right: 2%;
  }

  .download-links-header {
    margin-top: 45vw;
  }

  .download-link-box {
    width: 42%;
    padding-left: 5%;
  }

  .download-link-box:nth-child(n+2) {
    margin-top: 0;
    margin-left: 25px;
  }

  .download-link {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .link-logo {
    width: 39px;
    height: 45px;
  }

  .link-text-subtitle, .link-text-title {
    font-size: 87.5%;
  }

  .direction-athlets, .direction-players {
    padding-top: 8vw;
  }

  .content-directions-subject {
    font-size: 500%;
    margin-bottom: 0;
    padding-left: 38%;
  }

  .direction-players .content-directions-subject {
    padding-left: 5.3%;
  }

  .content-direction-img {
    width: 62vw;
    top: 4vw;
    left: -20vw;
  }

  .content-direction {
    padding-top: 4.5vw;
    padding-bottom: 4vw;
    padding-left: 38%;
    padding-right: 6%;
  }

  .content-directions-title {
    margin-bottom: 2vw;
  }

  .content-direction:nth-child(1) {
    background-color: #ffffff;
    padding-top: 3vw;
  }

  .direction-players .content-direction {
    padding-left: 6%;
    padding-right: 45%;
  }

  .content-direction-number {
    font-size: 112%;
    margin-top: 0.9vw;
  }

  .content-direction-number::after {
    width: 19px;
    height: 5px;
  }

  .content-direction-title {
    font-size: 200%;
  }

  .content-direction-desc {
    font-size: 100%;
    line-height: 175%;
  }

  .direction-players .content-direction-img {
    width: 57vw;
    top: 4vw;
    left: 43vw;
  }

  .content-card-box .content-card:nth-child(2) {
    padding-top: 6.6vw;
    padding-bottom: 13vw;
  }

  .content-card-title,
  .content-card-number,
  .content-card-text {
    padding-left: 6%;
    padding-right: 6%;
  }

  .content-card-title {
    margin-bottom: 13px;
    font-size: 500%;
  }

  .content-card-number {
    width: 15vw;
    height: 15vw;
    font-size: 150%;
    padding-top: 5vw;
    top: -10.5vw;
  }

  .content-card-number::after {
    width: 25px;
    height: 5px;
    left: calc(50% - 1.4vw);
    top: 9vw;
  }

  .content-card-text {
    font-size: 170%;
  }

  .footer {
    background-image: url("../images/game_1280.jpg");
  }

  .footer-container {
    padding-top: 16.4vw;
    padding-bottom: 24px;
  }

  .footer-title {}

  .title-logo-box {
    width: 12vw;
    height: 12vw;
    border-radius: 4vw;
  }

  .title-text {
    margin-top: 10vw;
    padding: 0;
  }

  .download-links-footer {
    margin-top: 37.5vw;
  }

  .footer-logo-box {
    margin-top: 55px;
  }
}

@media (min-width: 961px) {
  .header {
    background-image: url("../images/football_1920.jpg");
  }

  .header-container, .footer-container {
    padding-left: 10%;
    padding-right: 10%;
  }

  .header-logo-box, .footer-logo-box {
    width: 191px;
  }

  .header-title, .header-subtitle {
    font-size: 90px;
    line-height: 90px;
  }

  .header-title {
    margin-top: 27vmin;
  }

  .header-subtitle {
    text-align: right;
    padding-top: 0;
  }

  .download-links {
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .download-links-header {
    margin-top: 11.5vw;
  }

  .download-link-box {
    padding-top: 0;
    padding-bottom: 0;
    width: 41%;
    min-width: 230px;
    max-width: 320px;
    padding-left: 38px;
    padding-top: 11px;
    padding-bottom: 18px;
  }

  .download-link-box:nth-child(2) {
    margin-top: 0;
    margin-left: 30px;
  }

  .download-link {}

  .link-logo {
    width: 42px;
    height: 48px;
  }

  .link-text {
    margin-left: 1.25vw;
  }

  .link-text-subtitle, .link-text-title {
    font-size: 87.5%;
  }

  .content-directions-subject {
    font-size: 500%;
    margin-top: 5.2vw;
    margin-bottom: 4.8vw;
    padding-left: 52%;
  }

  .direction-athlets .content-direction {
    padding-left: 52%;
  }

  .direction-players .content-directions-subject {
    padding-left: 10%;
  }

  .content-direction-img {
    width: 30vw;
    top: -1vw;
    left: 20vw;
  }

  .content-direction {
    display: block;
    padding-top: 2.8vw;
    padding-bottom: 2.8vw;
    padding-right: 10%;
  }

  .content-directions-title {
    margin-bottom: 32px;
  }

  .content-direction:nth-child(1) {
    background-color: #ffffff;
    padding-top: 0;
  }

  .direction-players .content-direction {
    padding-left: 10%;
    padding-right: 50%;
  }

  .content-direction-number {
    font-size: 112.5%;
    margin-top: 0.22vw;
  }

  .content-direction-number::after {
    width: 19px;
    height: 5px;
  }

  .content-direction-title {
    font-size: 200%;
    display: block;
  }

  .content-direction-desc {
    font-size: 125%;
  }

  .direction-players .content-direction-desc:nth-child(3) {
    min-width: 100%
  }

  .direction-players .content-direction-img {
    width: 51.6vw;
    top: -3.3vw;
    left: 42vw;
  }

  .content-card {
    box-sizing: border-box;
    width: 50%;
    order: 1;
  }

  .content-card-box .content-card:nth-child(2) {
    padding-top: 12vw;
    padding-bottom: 13vw;
    padding-left: 95px;
    padding-right: 10vw;
  }

  .content-card-box:nth-child(2) .content-card:nth-child(1) {
    order: 1;
  }

  .content-card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .content-card-title,
  .content-card-number,
  .content-card-text {
    padding-left: 0;
    padding-right: 0;
  }

  .content-card-box:nth-child(2) .content-card:nth-child(2) {
    order: 0;
    padding-left: 10vw;
    padding-right: 95px;
  }

  .content-card-title {
    margin-bottom: 6vw;
    font-size: 500%;
  }

  .content-card:nth-child(3) .content-card-title {
    margin-bottom: 4vw;
  }

  .content-card-number {
    width: 168px;
    height: 155px;
    font-size: 150%;
    padding-top: 62px;
    top: 10.9vw;
    left: -77.5px;
  }

  .content-card-box:nth-child(2) .content-card-number {
    left: calc(100% - 77.5px);
  }

  .content-card-number::after {
    width: 25px;
    height: 5px;
    left: calc(50% - 13px);
    top: calc(100% - 64px)
  }

  .content-card-text {
    font-size: 150%;
  }

  .footer {
    background-image: url("../images/game_1920.jpg");
  }

.footer-container {
  padding-top: 13vw;
  padding-bottom: 51px;
}

  .footer-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title-logo-box {
    box-sizing: border-box;
    width: 136px;
    height: 136px;
    border-radius: 0;
    padding: 25px;
    padding-top: 28px;
    border-radius: 30px;
  }

  .title-text {
    margin-left: 31px;
    margin-top: 0;
    padding: 0;
  }

  .footer-text-title {
    font-size: 80px;
    text-align: left;
  }

  .footer-text-subtitle {
    font-size: 30px;
    text-align: left;
    padding-left: 5px;
  }

  .download-links-footer {
    margin-top: 151px;
  }

  .footer-logo-box {
    margin-top: 13.6vw;
  }
}
}
