* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  text-decoration: none;
  border-style: none;
  list-style: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url(../fonts/OpenSans-Bold.woff);
  src: url(../fonts/OpenSans-Bold.ttf);
  src: url(../fonts/OpenSans-Bold.woff2);
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Regular.ttf);
  src: url(../fonts/OpenSans-Regular.woff);
  src: url(../fonts/OpenSans-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

.header {
  background-image: url("../images/football_767.jpg");
}

.header, .footer {
  height: 100vh;
  width: 100%;
  background-color: #0a0e34;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  color: #ffffff;
  text-align: center;
}

.header::after {
  content: "";
  background-color: #0a0e34;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
}

.header-container, .footer-container {
  position: relative;
  z-index: 2;
  padding-left: 6%;
  padding-right: 6%;
}

.logo-text {
  display: inline-block;
  width: 40%;
  text-align: center;
  vertical-align: middle;
}

.header-logo-box {
  margin-top: 33px;
}

.header-logo {
  fill: #ffffff;
}

.header-title, .header-subtitle {
  font-family: OpenSans-Bold;
  font-size: 175%;
  line-height: 31px;
  text-transform: uppercase;
  text-align: left;
}

.header-title {
  margin-top: 30vmin;
}

.header-subtitle {
  padding-left: 44px;
  margin-top: 9vw;
}

.download-links {
  display: flex;
  flex-wrap: wrap;
}

.download-links-header {
  margin-top: 28vw;
}

.download-link-box {
  display: flex;
  background-color: #5e42b0;
  width: 100%;
  border-radius: 9vw;
  padding-top: 5px;
  padding-bottom: 6px;
}

.download-link-box:nth-child(n+2) {
  margin-top: 14px;
}

.download-link {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  margin-left: 30%;
}

.link-logo {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}

.link-text {
  display: inline-block;
  margin-left: 3vw;
  text-align: left;
}

.link-text-subtitle, .link-text-title {
  font-size: 50%;
  text-transform: uppercase;
  color: #ffffff;
}

.link-text-title {
  font-family: OpenSans
}

.link-text-subtitle {
  font-family: OpenSans-Bold;
}

.link-logo {}

main {}

.content {}

.content-directions {}

.direction-athlets {
  position: relative;
}

.content-directions-subject {
  font-family: OpenSans-bold;
  text-transform: uppercase;
  font-size: 16vw;
  color: #e7e7e7;
  margin-bottom: 72.2vw;
  padding-left: 6%;
}

.content-direction-pic {}

.content-direction-img {
  position: absolute;
  width: 60vw;
  display: block;
  top: 23vw;
  left: 22vw;
  z-index: 3;
}

.content-directions-athlets {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}

.content-direction {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  padding-top: 18vw;
  padding-bottom: 18.7vw;
  padding-left: 6%;
  padding-right: 6%;
}

.content-direction:nth-child(1) {
  background-color: #fafafa;
}

.content-direction:nth-child(2) {
  background-color: #f5f4f9;
}

.content-direction:nth-child(3) {
  background-color: #5e42b0;
}

.content-directions-athlets .content-direction:nth-child(3) .content-direction-desc {
  color: #ffffff;
}

.content-directions-players .content-direction:nth-child(3) {
  background-color: #090c35;
}

.content-directions-players .content-direction:nth-child(3) .content-direction-desc {
  color: #ffffff;
}

.content-directions-players .content-direction:nth-child(3) .content-direction-number {
  color: #8765dd;
}

.content-direction-number {
  font-family: OpenSans-bold;
  font-size: 4.3vw;
  color: #000000;
  align-self: flex-start;
  margin-top: 1.25vw;
  position: relative;
}

.content-direction-number::after {
  content: "";
  position: absolute;
  background-color: #5e42b0;
  width: 4.6vw;
  height: 4px;
  left: 0;
  top: 100%;
}

.content-direction:nth-child(3n+3) .content-direction-number::after {
  background-color: #ffffff;
}

.content-direction-title {
  vertical-align: top;
  font-family: OpenSans-Bold;
  font-size: 7.2vw;
  color: #c1c1c1;
  text-transform: uppercase;
  margin-left: 10px;
  margin-bottom: 5vw;
}

.content-direction-desc {
  font-family: OpenSans;
  font-size: 4.3vw;
  color: #000000;
}

.direction-players {
  position: relative;
}

.direction-players .content-direction-img {
  width: 94vw;
  top: 23vw;
  left: 4vw;
}

.content-cards {}

.content-cards-box {
  display: flex;
  flex-wrap: wrap;
}

.content-card {
  width: 100%;
  font-family: OpenSans-Bold;
  position: relative;
}

.content-card:nth-child(4) {
  order: 1;
}

.content-card:nth-child(3) {
  order: 2;
}

.content-card:nth-child(n+5) {
  order: 2;
}

.content-card-pic {}

.content-card-img {
  width: 100vw;
}

.content-card-title,
.content-card-number,
.content-card-text {
  padding-left: 6%;
  padding-right: 6%;
}

.content-card-title {
  margin-top: 10vw;
  margin-bottom: 6.5vw;
  font-family: OpenSans-Bold;
  font-size: 175%;
  color: #e7e7e7;
  text-transform: uppercase;
}

.content-card-number {
  position: absolute;
  width: 22vw;
  height: 22vw;
  background-color: #5e42b0;
  box-sizing: border-box;
  text-align: center;
  color: #ffffff;
  font-size: 87.5%;
  padding-top: 8vw;
  z-index: 3;
  left: 6%;
  top: -19vw;
}

.content-card-number::after {
  content: "";
  position: absolute;
  background-color: #8f7bc8;
  width: 18px;
  height: 4px;
  left: calc(50% - 2.7vw);
  top: 14vw;


}
.content-card-text {
  font-family: OpenSans;
  font-size: 87.5%;
  margin-bottom: 18.7vw;
}

.footer {
  background-image: url("../images/game_767.jpg");
}

.footer::after {
  content: "";
  background-color: #0a0e34;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
}

.footer-title {
  padding-top: 29vw;
}

.title-logo-box {
  display: inline-block;
  width: 22vw;
  height: 22vw;
  text-align: center;
  background-color: #5e42b0;
  border-radius: 6vw;
  padding: 3%;
}

.footer-title-logo {
  width: inherit;
  height: inherit;
  fill: #ffffff;
}

.title-text {
  margin-top: 18vw;
  padding: 0;
}

.footer-text-title {
  font-family: OpenSans-Bold;
  color: #ffffff;
  font-size: 10.5vw;
  text-transform: uppercase;
}

.download-links-footer {
  margin-top: 24vw;
}

.footer-text-subtitle {
  font-family: OpenSans;
  color: #9b8ec1;
  font-size: 4.5vw;
  text-transform: uppercase;
}

.footer-logo-box {
  margin-top: 21vw;
}

.footer-logo {
  fill: #ffffff;
}
